[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
jsonschema = "*"
python-dotenv = "*"
cwaft = "*"
flask-cors = "*"

[dev-packages]
cwaft = {editable = true, path = "./../cwaft"}

[requires]
python_version = "3.9"
